<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
  crossorigin="anonymous">
<div class="container">
  <div class="sidebar">
    <div class="image">
      <div class="name">
        <h1>
          {{name}}
        </h1>
        <h3 class="position">
          {{position}}
        </h3>
      </div>

      <img src="{{urlImage}}" />
      <!-- <img src="https://s.gravatar.com/avatar/cb5426da0f56e5bc2b26906ef54b8e5e?s=300"/> -->
    </div>
    <aside>
      <i class="icon fas fa-user"></i>
      <span>{{about}}</span>
    </aside>
    <aside class="phone">
      <i class="icon fas fa-phone"></i>
      <span>{{phone}}</span>
    </aside>
    <aside class="mail">
      <i class="icon fas fa-envelope"></i>
      <span>{{mail}}</span>
    </aside>
    <aside class="address">
      <i class="icon fas fa-home"></i>
      <span>{{address}}</span>
    </aside>
    <aside class="skills" *ngIf="skills.length > 0">
      <i class="icon fas fa-calendar"></i>
      <div class="skills-bars">
        <h3>Profetional Skills</h3>
        <div *ngFor="let skill of skills">
          <span>{{skill.name}}</span>
          <div class="progress">
            <div class="determinate" [style.width.%]="skill.progress">
              <i class="fa fa-circle"></i>
            </div>
          </div>
        </div>
      </div>
    </aside>
  </div>
  <section>
    <div *ngIf="works.length > 0">
      <div class="section-icon">
        <i class="fas fa-suitcase"></i>
      </div>
      <div class="section-content">
        <h2>Work Experience</h2>
        <div class="section-content-wrapper" *ngFor="let work of works">
          <div>
            <h3>{{work.position}}</h3>
            <span class="section-date">{{work.dateIni | date:'MMM yyyy'}} - {{work.dateEnd | date:'MMM yyyy'}}</span>
            <p>{{work.about}}</p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="education.length > 0">
      <div class="section-icon">
        <i class="fas fa-graduation-cap"></i>
      </div>
      <div class="section-content">
        <h2>Education</h2>
        <div class="section-content-wrapper" *ngFor="let edu of education">
          <div>
            <h3>{{edu.name}}
              <p>{{edu.institute}}</p>
            </h3>
            <span class="section-date">{{edu.duration}} {{edu.unitOfDuration}}</span>
            <p>{{edu.about}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section-profiles" *ngIf="profiles.length > 0">
      <div class="section-icon">
        <i class="fas fa-plane"></i>
      </div>
      <div class="section-content">
        <div class="section-content-wrapper">
          <h2>Profiles</h2>
          <div>
            <ul>
              <li *ngFor="let profile of profiles" [style.width.%]="100 / profiles.length">
                <i><a class="{{profile.class}}" target="_blank" [style.color]="profile.color" href="{{profile.link}}"></a></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="section-interestes">
      <div class="section-icon">
        <i class="fas fa-plane"></i>
      </div>
      <div class="section-content">
        <div class="section-content-wrapper">
          <h2>Interestes</h2>
          <div>
            <ul>
              <li>
                <i class="fas fa-beer"></i>
              </li>
              <li>
                <i class="fas fa-headphones"></i>
              </li>
              <li>
                <i class="fas fa-comments"></i>
              </li>
              <li>
                <i class="fas fa-coffee"></i>
              </li>
              <li>
                <i class="fas fa-road"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>