<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
  crossorigin="anonymous">
<ul id="subjectsNav">
  <li>
    <a href="#" title="SUBJECTS">Options</a>
    <ul>
      <li>
        <a href="#" (click)="onSendToPrint()">Print</a>
      </li>
      <li><a href="#" (click)="onDownloadPDF()">PDF</a></li>
      <li>
        <a href="#" title="EXTRA">Lenguage</a>
        <ul>
          <li>
            <a href="#en" (click)="onChangeLenguage('en')">English</a>
          </li>
          <li>
            <a href="#es" (click)="onChangeLenguage('es')">Español</a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

<div class="container">
  <div class="sidebar">
    <div class="image">
      <div class="name">
        <h1>
          {{info?.name}}
        </h1>
        <h3 class="position">
          {{info?.position}}
        </h3>
      </div>
      <img src="{{info?.urlImage}}" />
    </div>
    <aside>
      <i class="icon fas fa-user"></i>
      <span>{{info?.about}}</span>
    </aside>
    <aside class="phone">
      <i class="icon fas fa-phone"></i>
      <span>{{info?.phone}}</span>
    </aside>
    <aside class="mail">
      <i class="icon fas fa-envelope"></i>
      <span>{{info?.mail}}</span>
    </aside>
    <aside class="address">
      <i class="icon fas fa-home"></i>
      <span>{{info?.address}}</span>
    </aside>
    <aside class="skills" *ngIf="info && info.skills">
      <i class="icon fas fa-calendar"></i>
      <div class="skills-bars">
        <h3>{{info.skills.general.mainTitle}}</h3>
        <div *ngFor="let skill of info.skills.details">
          <span>{{skill.name}}</span>
          <div class="progress">
            <div class="determinate" [style.width.%]="skill.progress">
              <i class="fa fa-circle"></i>
            </div>
          </div>
        </div>
      </div>
    </aside>
  </div>
  <section>
    <div *ngIf="info && info.work">
      <div class="section-icon">
        <i class="fas fa-suitcase icon"></i>
      </div>
      <div class="section-content">
        <h2>{{info.work.general.mainTitle}}</h2>
        <div class="section-content-wrapper" *ngFor="let work of info.work.details">
          <div>
            <h3>{{work.position}}</h3>
            <span class="section-date">{{work.dateIni | date:'MMM yyyy'}} - {{getDateEnd(work)}}</span>
            <p>{{work.about}}</p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="info && info.education" class="section-education">
      <div class="section-icon">
        <i class="fas fa-graduation-cap icon"></i>
      </div>
      <div class="section-content">
        <h2>{{info.education.general.mainTitle}}</h2>
        <div class="section-content-wrapper" *ngFor="let edu of info.education.details">
          <div>
            <h3>{{edu.name}}
              <p>{{edu.institute}}</p>
            </h3>
            <span class="section-date">{{edu.duration}} {{edu.unitOfDuration}}</span>
            <div>
              <p>{{edu.about}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-profiles" *ngIf="info && info.profiles">
      <div class="section-icon">
        <i class="fas fa-plane"></i>
      </div>
      <div class="section-content">
        <div class="section-content-wrapper">
          <h2>{{info.profiles.general.mainTitle}}</h2>
          <div>
            <ul>
              <li *ngFor="let profile of info.profiles.details" [style.width.%]="100 / info.profiles.details.length">
                <i>
                  <a class="{{profile.class}}" target="_blank" [style.color]="profile.color" href="{{profile.link}}"></a>
                </i>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="section-interestes">
      <div class="section-icon">
        <i class="fas fa-plane"></i>
      </div>
      <div class="section-content">
        <div class="section-content-wrapper">
          <h2>{{info?.interestesTitle}}</h2>
          <div>
            <ul>
              <li>
                <i class="fas fa-beer"></i>
              </li>
              <li>
                <i class="fas fa-headphones"></i>
              </li>
              <li>
                <i class="fas fa-comments"></i>
              </li>
              <li>
                <i class="fas fa-coffee"></i>
              </li>
              <li>
                <i class="fas fa-road"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>