<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
  crossorigin="anonymous">
<div class="container">
  <div class="sidebar">
    <div class="image">
      <div class="name">
        <h1>
          Carlos Alejandro Aguirre López
        </h1>
        <h3 class="position">
          Software developer
        </h3>
      </div>

      <img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?s=300" />
    </div>
    <aside>
      <i class="icon fas fa-user"></i>
      <span>Enim placeat sunt quos in, animi inventore maxime ab sequi odio sed omnis voluptas id doloremque expedita magnam veniam
        eaque accusamus aliquam hic, vel repellendus ipsum. Quas ratione eaque hic!</span>
    </aside>
    <aside class="phone">
      <i class="icon fas fa-phone"></i>
      <span>(614)239-39-02</span>
    </aside>
    <aside class="mail">
      <i class="icon fas fa-envelope"></i>
      <span>calejandroaguirre@outlook.com</span>
    </aside>
    <aside class="address">
      <i class="icon fas fa-home"></i>
      <span>Paseos de urique #15501 Col. Paseos de Chihuahua, Chihuahua Chihuahua México</span>
    </aside>
    <aside class="skills">
      <i class="icon fas fa-calendar"></i>
      <div class="skills-bars">
        <h3>Profetional Skills</h3>
        <span>HTML</span>
        <div class="progress">
          <div class="determinate" style="width: 90%;">
            <i class="fa fa-circle"></i>
          </div>
        </div>
        <span>CSS</span>
        <div class="progress">
          <div class="determinate" style="width: 80%;">
            <i class="fa fa-circle"></i>
          </div>
        </div>
        <span>JS</span>
        <div class="progress">
          <div class="determinate" style="width: 85%;">
            <i class="fa fa-circle"></i>
          </div>
        </div>
        <span>C#</span>
        <div class="progress">
          <div class="determinate" style="width: 90%;">
            <i class="fa fa-circle"></i>
          </div>
        </div>
      </div>
    </aside>
  </div>
  <section>
    <div>
      <div class="section-icon">
        <i class="fas fa-suitcase"></i>
      </div>
      <div class="section-content">
        <h2>Work Experience</h2>
        <div class="section-content-wrapper">
          <div>
            <h3>UI/UX Designer</h3>
            <span>JAN 2013 - DEC 2013</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque esse illo amet cumque, deserunt eligendi impedit
              quisquam recusandae laudantium dicta modi dolores culpa vero laboriosam perferendis itaque, sequi earum enim.</p>
          </div>
        </div>
        <div class="section-content-wrapper">
          <div>
            <h3>UI/UX Designer</h3>
            <span>JAN 2013 - DEC 2013</span>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste facilis, dignissimos, accusamus sequi omnis, fuga atque labore veritatis minus assumenda magnam doloribus! Dicta cum commodi sequi! Eligendi laudantium illo quaerat.</p>
          </div>
        </div>
        <div class="section-content-wrapper">
          <div>
            <h3>UI/UX Designer</h3>
            <span>JAN 2013 - DEC 2013</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque esse illo amet cumque, deserunt eligendi impedit
              quisquam recusandae laudantium dicta modi dolores culpa vero laboriosam perferendis itaque, sequi earum enim.</p>
          </div>
        </div>
        <div class="section-content-wrapper">
            <div>
              <h3>UI/UX Designer</h3>
              <span>JAN 2013 - DEC 2013</span>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque esse illo amet cumque, deserunt eligendi impedit
                quisquam recusandae laudantium dicta modi dolores culpa vero laboriosam perferendis itaque, sequi earum enim.</p>
            </div>
          </div>
      </div>
    </div>
    <div>
      <div class="section-icon">
        <i class="fas fa-suitcase"></i>
      </div>
      <div class="section-content">
        <div class="section-content-wrapper">
          <h2>Work Experience</h2>
          <div>
            <h3>UI/UX Designer</h3>
            <span>JAN 2013 - DEC 2013</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque esse illo amet cumque, deserunt eligendi impedit
              quisquam recusandae laudantium dicta modi dolores culpa vero laboriosam perferendis itaque, sequi earum enim.</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="section-icon"></div>
      <div class="section-content"></div>
    </div>
    <div>
      <div class="section-icon"></div>
      <div class="section-content"></div>
    </div>
  </section>
</div>